    <header>

<nav class="navbar navbar-light navbar-expand-md fixed-top" style="background-color: #ffffff;">
  <a class="navbar-brand" href="{% url 'index' %}">{% include "logo.html" %}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav ml-auto">

      <li class="nav-item active">
        <a class="nav-link" href="{% url 'member_create' %}" title="Become a Member">Become a Member</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'blog_post_list' %}">Blog</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'events' %}">Events</a>
      </li>
  
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/pyatl">Github</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="https://discord.gg/5UBnR3P" title="Twitter">Discord</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="https://twitter.com/pyatl" title="Twitter">Twitter</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="https://www.meetup.com/python-atlanta/" title="Meetup">Meetup</a>
      </li>

    </ul>
  </div>
</nav>

</header>