    <header>

<nav class="navbar navbar-light navbar-expand-md fixed-top" style="background-color: #ffffff;">
  <a class="navbar-brand" href="{% url 'index' %}">{% include "logo.html" %}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav">

      <li class="nav-item">
        <a class="nav-link" href="{% url 'blog_post_list' %}">Blog</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'events' %}">Events</a>
      </li>
  
    </ul>
  </div>
</nav>

</header>