{% extends 'patterns/base_layout.html' %}
{% load static %}

{% block inject_css %}
{% include 'patterns/components/featured-post/featured-post.css' %}

{% endblock %}


{% block content %}

<section class="featured-post bg-light my-5 py-5">
	<div class="container">		
		<div class="row">
			<div class="col-md-12 col-lg-12">
				<h2 class="my-0 py-0">Review of Beyond the Basic Stuff with Python.</h2>
				 <p class="text-muted"><small>By Some person</small></p>
				
				<p class="lead mb-0">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content... <a href="#">Read More</a></p>
				
		    <p class="my-0 text-muted"><small>Mar 23, 2021</small></p>
				
		    <p class="my-0 text-muted"><small><a href="#">Puppies</a></small></p>
			</div>
		</div><!-- content -->
		
	</div>
</section>





{% endblock %}