{% extends 'patterns/base_layout.html' %}
{% load static %}

{% block inject_css %}
{% include 'patterns/components/post-list/post-list.css' %}

{% endblock %}


{% block content %}

<section class="post-list">
	<div class="container">
			<p class="text-uppercase font-weight-bold my-0">posts</p>
		  <hr class="my-0">
	</div> <!-- latest -->
	
	
	<div class="container">
		
		<div class="row mt-4">
			<div class="col-12 col-md-12 col-lg-12">
				<h3 class="my-0"><a href="#" class="text-decoration-none text-dark">
					 Review of Beyond the Basic Stuff with Python.</a>
				</h3>
				<p class="text-muted"><small>By Some person &middot; Mar 23, 2021 &middot; <a href="#">Puppies</a></small></p>
		    
			</div>
		</div> <!-- post -->
	
	
	
	<div class="row mt-4">
		<div class="col-12 col-md-12 col-lg-12">
			<h3 class="my-0"><a href="#" class="text-decoration-none text-dark">
				 Review of Beyond the Basic Stuff with Python.</a>
			</h3>
			<p class="text-muted"><small>By Some person &middot; Mar 23, 2021 &middot; <a href="#">Puppies</a></small></p>
	    
		</div>
	</div> <!-- post -->
	
	
	<div class="row mt-4">
		<div class="col-12 col-md-12 col-lg-12">
			<h3 class="my-0"><a href="#" class="text-decoration-none text-dark">
				 Review of Beyond the Basic Stuff with Python.</a>
			</h3>
			<p class="text-muted"><small>By Some person &middot; Mar 23, 2021 &middot; <a href="#">Puppies</a></small></p>
	    
		</div>
	</div> <!-- post -->
	
	
	<div class="row mt-4">
		<div class="col-12 col-md-12 col-lg-12">
			<h3 class="my-0"><a href="#" class="text-decoration-none text-dark">
				 Review of Beyond the Basic Stuff with Python.</a>
			</h3>
			<p class="text-muted"><small>By Some person &middot; Mar 23, 2021 &middot; <a href="#">Puppies</a></small></p>
	    
		</div>
	</div> <!-- post -->
	
	
	<div class="row mt-4">
		<div class="col-12 col-md-12 col-lg-12">
			<h3 class="my-0"><a href="#" class="text-decoration-none text-dark">
				 Review of Beyond the Basic Stuff with Python.</a>
			</h3>
			<p class="text-muted"><small>By Some person &middot; Mar 23, 2021 &middot; <a href="#">Puppies</a></small></p>
	    
		</div>
	</div> <!-- post -->
	

	
	
	
	</div>
	
	
</section>
{% endblock %}