{% extends 'patterns/base_layout.html' %}
{% load static %}

{% block inject_css %}
{% include 'patterns/components/blog-hero/blog-hero.css' %}

{% endblock %}


{% block content %}

<section class="post-card my-5 py-5">
	<div class="container">



			<div class="card rounded-0 shadow" style="width: 36rem;">

			  <div class="card-header text-muted">
					<small>Published: Mar 23, 2021</small> 
			  </div>

			  <div class="card-body">
			    <h5 class="card-title">Review of Beyond the Basic Stuff with Python </h5>
			    <h6 class="card-subtitle mb-2 text-muted">By Some person</h6>
			    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content [...]</p>
					<a href="#" class="btn btn-primary rounded-0 shadow">Read More</a>
			  </div>
				
			  <div class="card-footer text-muted">
			    <small>Category: <a href="#">Puppies</a></small>
			  </div>

			</div>
			
			
	</div>

</section>



{% endblock %}