{% extends 'patterns/base_layout.html' %}
{% load static %}

{% block inject_css %}
{% include 'patterns/components/upcoming-events/upcoming-events.css' %}

{% endblock %}


{% block content %}

<section class="upcoming-events">
	<div class="container">
		<div class="row">
			
			<div class="col-12 col-md-6 order-md-2">
				<div class="pt-5 pb-3 py-md-5">
					
					<h3 class="mb-0 text-center font-weight-bold">Attend a PyATL event.</h2>
					<p class="text-center">PyATL holds four types of events: Jam Sessions, Talks, Live Coding Streams, and Workshops. In response to the COVID-19 pandemic events have been limited to weekly Live Coding Streams and Workshops with industry partners. Please be aware that all attendees must conform to our <a href="#" class="text-decoration-none">Code of Conduct</a>.</p>
					
				</div>
			</div>
			
			
			
			<div class="col-12 col-md-6">
        <!-- Card -->
        <div class="card shadow mb-6 mb-md-8 rounded-0">
          <div class="card-body">
            <!-- Heading -->
            <h6 class="text-uppercase d-inline-block mb-3 mr-1">
              Upcoming Events
            </h6>
            <!-- List group -->
              <div class="list-group list-group-flush">
                <a class="list-group-item text-reset text-decoration-none" href="#!">
                  <p class="font-weight-bold mb-1">
                    Live coding stream on PyATL's official Twitch channel
                  </p>
                  <p class="font-size-sm text-muted mb-0">
                    March 16, 2021, 7 p.m. · https://twitch.tv/pyatl
                  </p>

                </a>
                <a class="list-group-item text-reset text-decoration-none " href="#!">
                  <p class="font-weight-bold mb-1">
                    Live coding stream on PyATL's official Twitch channel
                  </p>
                  <p class="font-size-sm text-muted mb-0">
                    March 16, 2021, 7 p.m. · https://twitch.tv/pyatl
                  </p>

                </a>
                <a class="list-group-item text-reset text-decoration-none" href="#!">

                  <p class="font-weight-bold mb-1">
                    Live coding stream on PyATL's official Twitch channel
                  </p>
                  <p class="font-size-sm text-muted mb-0">
                    March 16, 2021, 7 p.m. · https://twitch.tv/pyatl
                  </p>

                </a>

                <a class="list-group-item text-decoration-none" href="#">
                	View on meetup.com
                </a>
								
              </div>


          </div>
        </div>
			</div> <!-- card col -->
			
			
		</div> <!-- row -->
	</div> <!-- container -->
</section>



{% endblock %}