{% extends "base.html" %}
{% load static %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Become a PyATL member</h1>
            <p>Members enjoy multiple benefits such as:</p>
            <ul>
                <li>Exclusive job postings from Atlanta and natiowide companies</li>
                <li>Interviewing help</li>
                <li>Resume feedback</li>
                <li>Alerts of new events</li>
                <li>And much more!</li>
            </ul>
            <p>Joining is free. Just enter your email address below.</p>

        </div>
    </div>
<form method="post">
{% csrf_token %}
    {{ form }}
<input class="btn btn-success" type="submit" value="Join">
</form>
   
</div>

{% endblock %}