{% extends 'patterns/base_layout.html' %}
{% load static %}

{% block inject_css %}
{% include 'patterns/pages/blog/blog.css' %}

{% endblock %}

{% block content %}
<header>

<nav class="navbar navbar-light navbar-expand-md fixed-top" style="background-color: #ffffff;">
  <a class="navbar-brand" href="{% url 'index' %}">{% include "logo.html" %}</a>

</nav>

</header>


<section class="blog-hero">
	<div class="container">
		<div class="row">
			<div class="col-12 py-5 py-md-5 py-lg-5">
				<a href="#" class="text-decoration-none"><h1 class="text-dark font-weight-bold blog-hero__headline">
					Bytecode</h1></a>
				
				<h6 class="text-dark">A blog about PyATL, Python, code, software, and everything in between.</h6>
				
					<div class="">
						<a href="#" class="text-decoration-none text-dark">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-rss-fill" viewBox="0 0 16 16"><title>rss feed</title>
							  <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm1.5 2.5c5.523 0 10 4.477 10 10a1 1 0 1 1-2 0 8 8 0 0 0-8-8 1 1 0 0 1 0-2zm0 4a6 6 0 0 1 6 6 1 1 0 1 1-2 0 4 4 0 0 0-4-4 1 1 0 0 1 0-2zm.5 7a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
							</svg>
						</a>
					</div>
			</div>
		</div>
	</div>
</section>



<section class="featured-post bg-light py-5">
	<div class="container">		
		<div class="row">
			<div class="col-md-12 col-lg-12">
				<h2 class="my-0 py-0">Review of Beyond the Basic Stuff with Python.</h2>
				 <p class="text-muted"><small>By Some person</small></p>
				
				<p class="lead mb-0">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title and make up the bulk of the card's content... <a href="#">Read More</a></p>
				
		    <p class="my-0 text-muted"><small>Mar 23, 2021</small></p>
				
		    <p class="my-0 text-muted"><small><a href="#">Puppies</a></small></p>
			</div>
		</div><!-- content -->
		
	</div>
</section>




<section class="post-list mt-5 mb-4">
	<div class="container">
			<p class="text-uppercase font-weight-bold my-0">posts</p>
		  <hr class="my-0">
	</div> <!-- latest -->
	
	
	<div class="container">
		
		<div class="row mt-4">
			<div class="col-12 col-md-12 col-lg-12">
				<h3 class="my-0"><a href="#" class="text-decoration-none text-dark">
					Review of Beyond the Basic Stuff with Python.</a>
				</h3>
				<p class="text-muted"><small>By Some person &middot; Mar 23, 2021 &middot; <a href="#">Puppies</a></small></p>
		    
			</div>
		</div> <!-- post -->
	
	
	
	<div class="row mt-4">
		<div class="col-12 col-md-12 col-lg-12">
			<h3 class="my-0"><a href="#" class="text-decoration-none text-dark">
			  Review of Beyond the Basic Stuff with Python.</a>
			</h3>
			<p class="text-muted"><small>By Some person &middot; Mar 23, 2021 &middot; <a href="#">Puppies</a></small></p>
	    
		</div>
	</div> <!-- post -->
	
	
	<div class="row mt-4">
		<div class="col-12 col-md-12 col-lg-12">
			<h3 class="my-0"><a href="#" class="text-decoration-none text-dark">
				Review of Beyond the Basic Stuff with Python.</a>
			</h3>
			<p class="text-muted"><small>By Some person &middot; Mar 23, 2021 &middot; <a href="#">Puppies</a></small></p>
	    
		</div>
	</div> <!-- post -->
	
	
	<div class="row mt-4">
		<div class="col-12 col-md-12 col-lg-12">
			<h3 class="my-0"><a href="#" class="text-decoration-none text-dark">
				Review of Beyond the Basic Stuff with Python.</a>
			</h3>
			<p class="text-muted"><small>By Some person &middot; Mar 23, 2021 &middot; <a href="#">Puppies</a></small></p>
	    
		</div>
	</div> <!-- post -->
	
	
	<div class="row mt-4">
		<div class="col-12 col-md-12 col-lg-12">
			<h3 class="my-0"><a href="#" class="text-decoration-none text-dark">
				Review of Beyond the Basic Stuff with Python.</a>
			</h3>
			<p class="text-muted"><small>By Some person &middot; Mar 23, 2021 &middot; <a href="#">Puppies</a></small></p>
	    
		</div>
	</div> <!-- post -->

	</div>
</section>



<section class="blog-pagination mb-5">
	<div class="container">


			<nav aria-label="blog pagination">
			  <ul class="pagination">
			    <li class="page-item disabled">
			      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
			    </li>
			    <li class="page-item">
			      <a class="page-link" href="#">Next</a>
			    </li>
			  </ul>
			</nav>

  </div>
</section>







<footer class="py-5 py-md-5 bg-dark"> 
	<div class="container"> 
		<div class="row">
			<div class="col-12 col-md-4 col-lg-3">
				<p class="text-light">
					&copy;<span id="year"></span> PyATL
				</p>
			</div> <!-- brand -->
			
			<div class="col-6 col-md-4 col-lg-2">
				<h6 class="font-weight-bold text-light">
					Connect
				</h6>
				
				<ul class="list-unstyled text-muted mb-5 mb-md-5 mb-lg-0">
					<li class="mb-3">
						<a href="#" class="text-reset">
							Discord
						</a>
					</li>
					
					<li class="mb-3">
						<a href="#" class="text-reset">
							Meetup
						</a>
					</li>
					
					<li class="mb-3">
						<a href="#" class="text-reset">
							Github
						</a>
					</li>
					
					<li class="mb-3">
						<a href="#" class="text-reset">
							Twitter
						</a>
					</li>
					
					<li class="mb-3">
						<a href="#" class="text-reset">
							LinkedIn
						</a>
					</li>
							
				</ul>
				
				
				
			</div> <!-- connect -->
			
			
			
			<div class="col-6 col-md-4 col-lg-2">
				<h6 class="font-weight-bold text-light">
					Directory
				</h6>
				
				<ul class="list-unstyled text-muted mb-5 mb-md-5 mb-lg-0">
					<li class="mb-3">
						<a href="#" class="text-reset">
							Become a Member
						</a>
					</li>
					
					<li class="mb-3">
						<a href="#" class="text-reset">
							Blog
						</a>
					</li>
					
					<li class="mb-3">
						<a href="#" class="text-reset">
							Events
						</a>
					</li>
					
					<li class="mb-3">
						<a href="{% url 'about' %}" class="text-reset">
							About
						</a>
					</li>
					
					<li class="mb-3">
						<a href="{% url 'terms' %}" class="text-reset">
							Terms of Service
						</a>
					</li>
					
					<li class="mb-3">
						<a href="{% url 'coc' %}" class="text-reset">
							Code of Conduct
						</a>
					</li>
				</ul>
			</div> <!-- directory -->

		</div> <!-- row -->
	</div> <!-- container -->
</footer> <!-- footer -->
{% endblock %}