{% extends 'patterns/base_layout.html' %}
{% load static %}

{% block inject_css %}
{% include 'patterns/components/latest-posts/latest-posts.css' %}

{% endblock %}


{% block content %}

<section class="latest-posts">
	<div class="container">
		<div class="row">
			
			<div class="col-12 col-md-6 col-lg-6">
				<div class="pt-5 py-md-5">
					
					<h3 class="mb-0 text-center font-weight-bold">Latest News</h2>
					<p class="text-center">From the official PyATL blog.</p>
				
				
				<img src="{% static 'img/news.svg' %}" class="img-fluid mb-3 mb-md-0 mb-sm-5 mx-md-5 mx-lg-5" alt="Bytecode news" >
					
				</div>
			</div>
			
			
			
			<div class="col-12 col-md-6 col-lg-6">
        <!-- list group -->
				<div class="pt-2 py-md-5">
					<ul class="list-group list-group-flush">
						<li class="list-group-item">
							<h5 class="mb-0">This is the title of the post</h5>
							<p>
								This is the excerpt.
								This is the excerpt.
								This is the excerpt. 
								This is the excerpt. 
								This is the excerpt. 
								This is the excerpt. 
								This is the excerpt. 
								This is the excerpt. 
								This is the excerpt. 
								This is the excerpt. 
								This is the excerpt. 
								This is the excerpt. 
								This is the excerpt. 
								This is the excerpt. 
								This is the excerpt. 
							</p>
							
							<a href="#" class="btn btn-secondary rounded-0">Read More</a>
						</li>

						<li class="list-group-item">
							<h5 class="mb-0">This is the title of the post</h5>
							<p>
								This is the excerpt.
								This is the excerpt.
								This is the excerpt. 
								This is the excerpt. 
								This is the excerpt. 
								This is the excerpt. 
								This is the excerpt. 
								This is the excerpt. 
								This is the excerpt. 
								This is the excerpt. 
								This is the excerpt. 
								This is the excerpt. 
								This is the excerpt. 
								This is the excerpt. 
								This is the excerpt. 
							</p>
							
							<a href="#" class="btn btn-secondary rounded-0">Read More</a>
						</li>


						<li class="list-group-item">
							<h5 class="mb-0">This is the title of the post</h5>
							<p>
								This is the excerpt.
								This is the excerpt.
								This is the excerpt. 
								This is the excerpt. 
								This is the excerpt. 
								This is the excerpt. 
								This is the excerpt. 
								This is the excerpt. 
								This is the excerpt. 
								This is the excerpt. 
								This is the excerpt. 
								This is the excerpt. 
								This is the excerpt. 
								This is the excerpt. 
								This is the excerpt. 
							</p>
							
							<a href="#" class="btn btn-secondary rounded-0">Read More</a>
						</li>



					</ul>
				</div>
			</div> <!-- list group col -->
			
			
		</div> <!-- row -->
	</div> <!-- container -->
</section>



{% endblock %}