<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="PyATL Atlanta Python Programmers group">
    <meta name="author" content="PyATl">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@pyatl">
	<meta name="twitter:title" content="{% block twitter_card_title %}{% endblock %}">
	<meta name="twitter:description" content="{% block twitter_card_description %}{% endblock %}">
    <title>{% block page_title %}{% endblock %}</title>

    <link rel="canonical" href="https://pyatl.org">

    <!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <style>
			@import url('https://fonts.googleapis.com/css?family=Poppins:400&display=swap');
			
			body {
		    font-family: 'Poppins', sans-serif;
				padding-top: 5rem;
			}
			
			footer {
				background: #f8f8f8;
			}
			{% block page_css %}{% endblock %}
    </style>
  </head>
  <body>
    <header>

<nav class="navbar navbar-light navbar-expand-md fixed-top" style="background-color: #ffffff;">
  <a class="navbar-brand" href="#">{% include "logo.html" %}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav ml-auto">
			

      <li class="nav-item pr-5">
        <a class="nav-link" href="#">About</a>
      </li>
			
      <li class="nav-item pr-5">
        <a class="nav-link" href="#">Blog</a>
      </li>
			
      <li class="nav-item pr-5">
        <a class="nav-link" href="#">Contact</a>
      </li>
			
      <li class="nav-item pr-5">
        <a class="nav-link" href="#">Events</a>
      </li>
			
      <li class="nav-item">
        <a class="nav-link active" href="#">Join</a>
      </li>

			

    </ul>
  </div>
</nav>

</header>

<main role="main">

{% block body %}{% endblock %}

</main>

<footer class="mt-3 pt-5">
  <div class="container">
		{% block footer %}{% endblock %}
	</div>
</footer>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

{% block js %}{% endblock %}

</body></html>