@media (max-width: 576px) {
		.hero {
			padding-top: 2em;
			padding-bottom: 3em;
		}
	}

@media (min-width: 576px) {
		.hero {
			padding-top: 2em;
			padding-bottom: 3em;
		}
	}

@media (min-width: 768px) {
	.hero {
		padding-top: 6em;
		padding-bottom: 6em;
	}
}

@media (min-width: 992px) {
	.hero {
		padding-top: 12em;
		padding-bottom: 12em;
	}
}

@media (min-width: 1200px) {
	.hero {
		padding-top: 12em;
		padding-bottom: 12em;
	}
}


.hero h1 {
	font-size: 7em;
}




.leading-headline {
	font-size: 2.0em;
	padding-top: 20px;
	padding-left: 20px;	
}

.leading-text {
	font-size: 1.1em;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 20px;
}


.events {
	background: #fff;
}


@media (max-width: 576px) {
		.events {
			padding-top: 3em;
			padding-bottom: 5em;
		}
	}

@media (min-width: 576px) {
		.events {
			padding-top: 3em;
			padding-bottom: 5em;
		}
	}

@media (min-width: 768px) {
	.events {
		padding-top: 3em;
		padding-bottom: 5em;
	}
}

@media (min-width: 992px) {
	.events {
		padding-top: 3em;
		padding-bottom: 5em;
	}
}

@media (min-width: 1200px) {
	.events {
		padding-top: 3em;
		padding-bottom: 5em;
	}
}


.events h2 {

}

.events .card {
}

.events .events-headline {
	font-size: 2.0em;
	padding-left: 20px;
}

