{% extends "base.html" %}
{% load static %}
{% block page_title %} {{ post.title }} {% endblock %}
{% block twitter_card_title %} {{ post.title }} {% endblock %}
{% block twitter_card_description %}{{ post.body|truncatechars_html:140|safe }}{% endblock %}
{% block page_css %}{% endblock %}
{% block body %}

<div class="py-5">
    <div class="container">
            <p><a href="{% url 'blog_post_list' %}">&lt; Posts</a></p>
            <h1>{{post.title }}</h1>
            <p>{{ post.created | date }}</p>

            <p class="mt-5">{{ post.body | safe }}</p>

            <hr>
            <p>Author: {{ post.author_name }}</p>
            <p>Categories:
            {% for post_category in post_categories %}
            <a href="{% url 'blog_posts_by_category' pk=post_category.category.pk slug=post_category.category.label|slugify %}"> {{ post_category.category.label }}</a>
            {% endfor %}
            </p>

            <p>Tags:
                {% for post_tag in post_tags %}
                <a href="{% url 'blog_posts_by_tag' pk=post_tag.tag.pk slug=post_tag.tag.label|slugify %}"> {{ post_tag.tag.label }}</a>
                {% endfor %}
            </p>

    </div>
</div>
 {% endblock %}