{% extends "base.html" %}
{% load static %}
{% block page_css %}{% endblock %}
{% block body %}



<div class="py-5">
    <div class="container">
        <h1>Posts</h1>
        <ul>
        {% for published_post in object_list %}
            <li>
                <a href="{% url 'blog_post_detail' slug=published_post.post.slug pk=published_post.post.pk %}">
                    {{ published_post.post.created | date }} - {{ published_post.post.title }}
                </a>
            </li>
            {% empty %}
            <li>No published posts available at this time.</li>
        {% endfor %}
        </ul>
    </div>
</div>
 {% endblock %}

