{% extends "base.html" %}
{% load static %}
{% load blog_extras %}
{% block page_title %}PyATL Blog{% endblock %}
{% block page_css %}{% endblock %}
{% block body %}



<div class="py-5">
    <div class="container">

        <a href="{% url 'blog_post_list' %}">
            <h1>Posts <a href="feed/latest/"><img src="{% static "blog/feed-icon-28x28.png" %}" alt="RSS icon"></a></h1>
        </a>

        <ul class="pt-4">
        {% for published_post in object_list %}
            <li>
                <p>
                    <a href="{% url 'blog_post_detail' slug=published_post.post.slug pk=published_post.post.pk %}">
                        {{ published_post.post.created | date }} - {{ published_post.post.title }}
                    </a>
                </p>
                <p>
                    Categories:
                    {% for post_category in published_post.post|categories %}
                    <a href="{% url 'blog_posts_by_category' pk=post_category.category.pk slug=post_category.category.label|slugify %}">{{ post_category.category.label }}</a>
                    {% endfor %}
                </p>

                <p>
                    Tags:
                    {% for post_tag in published_post.post|tags %}
                    <a href="{% url 'blog_posts_by_tag' pk=post_tag.tag.pk slug=post_tag.tag.label|slugify %}"> {{ post_tag.tag.label }}</a>
                    {% endfor %}
                </p>

            </li>
            {% empty %}
            <li>No published posts available at this time.</li>
        {% endfor %}
        </ul>
    </div>
</div>

<div class="container">
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>

{% endblock %}
