@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
	padding-top: 5rem;
}

main { min-height:100vh; }